#cuerpo{
 width: 100%;
-Webkit-border-radius: 35px; 
border-radius:35px;
}

#cuerpo legend
{
 -Webkit-border-radius: 35px; 
border-radius:35px;   
font-size:20px;/*poner tamaÃ±o al titulo */
font-weight:bold;/*poner negrita al titulo*/
margin-bottom:4%;

}
* { 
padding: 0px; outline: 0;
}

body{
	background: white url(../img/fondo_gen.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1440px 900px;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
	line-height: 150%;
	color: #595959;    
}

section{
	display: block;
}

header{
	margin: 0 10px 30px 10px;
}

#wrapper{
	
	margin: -6px auto;	
	background: url(../img/fondo1.png);
        width: 950px;
}

#toolbar {
	height: 40px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	line-height: 25px;
}

#social, #help{
	float: right;
	margin-left: 15px;
}

#cabeza{
	font-size: 40px;
	margin: 0px;
	height: 100px;
}

#logohead{
	float: left;
	margin-left: 30px;
}

#search{
	position: relative;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

.login{
	background-color: #FBCFFE;
	width: 110px;
	padding: 10px;
	margin-left: -10px;
	border-bottom: 1px solid  #DE0E91;
}

.contacto{
	text-align: left;
	background-color: #FBCFFE;
	width: 200px;
	padding: 15px;
	margin-left: -50px;	
	border-bottom: 1px solid  #DE0E91;
}

.cont{
	width: 200px;
}

#envcont{
	margin-left: 150px;
}

.inputuser, #buscar{
	width: 100px;
}

#middle{
	margin: 0px 10px 0px 10px;
}

footer{
	margin: 20px 10px 0px 10px;
	border-top: 3px solid #DE0E91;
	text-align: center;
}

#login{
  position: relative;
  text-align: center;
  left: 610px;
}

#txt_login{
  width: 80px;
  text-align: center;
}

#txt_pass{
  width: 80px;
  text-align: center;
}

p{
  position: relative;
  margin-left: auto;
  margin-top: auto;
}
